
<section class="q-description">
    <h1 class="front">What is Q?</h1>
    <h5 class="hideme">
      Q is a crowdsourcing playlist app that gives listeners a voice in what they want to hear, when they want to hear it.  The app introduces an interactive and collaborative platform that allows users to queue up and vote on songs that they want to hear, an experience undoubtedly missing from today’s music streaming industry.
    </h5>
</section>
<section class="q-instructions">
    <h1 class="front hideme">Here's how it works</h1>
    <div class="q-inst-cont hideme">
      <div class="q-steps">
        <h4><i class="material-icons front-pg-symbol">playlist_add</i>&nbspCreate</h4>
        <p class="front-desc">Hosting a big event? Inviting a few of your friends over? Creating a playlist on Q is the perfect companion for any occasion.</p>
      </div>
      <div class="q-steps">
        <h4><i class="material-icons front-pg-symbol">perm_identity</i>&nbspInvite</h4>
        <p class="front-desc">Invite friends and family to your playlist so everyone can have a say in the music played!</p>
      </div>
      <div class="q-steps">
        <h4><i class="material-icons front-pg-symbol">queue_music</i>&nbspQ</h4>
        <p class="front-desc">Choose from thousands of songs on Q. Once you find one you like, just hit add to get it queued up in the playlist!</p>
      </div>
      <div class="q-steps">
        <h4><i class="material-icons front-pg-symbol">thumbs_up_down</i>&nbspVote</h4>
        <p class="front-desc"> Vote songs up or down to elevate or lower them in the queue. Or, just stay neutral and watch your friends debate what songs they’d like played!</p>
      </div>
    </div>
</section>

<section class="public_playlists">
  <h1 class="front hideme">Public Playlists</h1>
<% @public_playlists.each do |playlist| %>
<%= link_to view_public_playlist_path(playlist.id) do %>
<div class="public_playlist_block hideme">
  <img src='<%= playlist.album_art %>' class="public_image">
    <div class="pub_playlist_name"> <%= playlist.name %></div>
  <% end %>
</div>
<% end %>
</section>
