
<section class="q-description">
    <h1 class="front">What is Q?</h1>
    <h5>
      Q is a crowdsourcing playlist app that gives listeners a voice in what they want to hear, when they want to hear it.  The app introduces an interactive and collaborative platform that allows users to queue up and vote on songs that they want to hear, an experience undoubtedly missing from today’s music streaming industry.
    </h5>
</section>
<section class="q-instructions">
    <h1 class="front">Here's how it works:</h1>
    <div class="q-inst-cont">
      <div class="q-steps">
        <h4><i class="material-icons front-pg-symbol">playlist_add</i>Create</h4>
        <p class="front-desc">Hosting an event? Create a new playlist!</p>
      </div>
      <div class="q-steps">
        <h4><i class="material-icons front-pg-symbol">perm_identity</i>Invite</h4>
        <p class="front-desc">Invite your friends or family to your playlist!</p>
      </div>
      <div class="q-steps">
        <h4><i class="material-icons front-pg-symbol">queue_music</i>Q</h4>
        <p class="front-desc">Q up some songs that you'd like to hear!</p>
      </div>
      <div class="q-steps">
        <h4><i class="material-icons front-pg-symbol">thumbs_up_down</i>Vote</h4>
        <p class="front-desc">Vote on what you'd like to hear soon!</p>
      </div>
    </div>
</section>

<section class="public_playlists">
  <h1 class="front">Public Playlists</h1>
<% @public_playlists.each do |playlist| %>
<%= link_to view_public_playlist_path(playlist.id) do %>
<div class="public_playlist_block">
  <img src='<%= playlist.album_art %>' class="public_image">
    <div class="pub_playlist_name"> <%= playlist.name %> </div>
  <% end %>
</div>
<% end %>
</section>
