
<section class="q-description">
    <h2>What is Q?</h2>
    <p>
      Q is a crowdsourcing playlist app that gives listeners a voice in what they want to hear, when they want to hear it.  The app introduces an interactive and collaborative platform that allows users to queue up and vote on songs that they want to hear, an experience undoubtedly missing from today’s music streaming industry.
    </p>
</section>
<section class="q-instructions">
  <h2>Here's how it works:</h2>
  <div class="q-inst-cont">
    <div class="q-steps">
      <h4><i class="material-icons front-pg-symbol">playlist_add</i>Create</h4>
      <p class="front-desc">Create an event.</p>
    </div>
    <div class="q-steps">
      <h4><i class="material-icons front-pg-symbol">perm_identity</i>Invite</h4>
      <p class="front-desc">Invite your friends or family to your event.</p>
    </div>
    <div class="q-steps">
      <h4><i class="material-icons front-pg-symbol">queue_music</i>Q</h4>
      <p class="front-desc">Q up some songs that you'd like to hear!</p>
    </div>
    <div class="q-steps">
      <h4><i class="material-icons front-pg-symbol">thumbs_up_down</i>Vote</h4>
      <p class="front-desc">Vote on what you'd like to hear soon.</p>
    </div>
  </div>
</section>

<section class="public_playlists">
<% @public_playlists.each do |playlist| %>
<div class="public_playlist">
  <%= link_to playlist.name, view_public_playlist_path(playlist.id) %>
</div>
<% end %>
</section>
