// Place all the styles related to the playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$player-white: #e8e8ec;
$nav-grey: rgba(35, 35, 44, 0.39);


.back-button {
  width: 100%;
  color: black;
}

.back-button a {
  color: black;
}

.song-listing{
  line-height: 2.5rem;
  font-size: 20px;
  margin-left: 1%;
  width: 49%;
  display: inline-block;
  opacity: 0.7;
  position: relative;
}

i.fa.fa-plus-circle {
  position: absolute;
  left: 0.2rem;
  bottom: 1rem;
  text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
  color: white;
  opacity: 0;
}

.song-listing:hover{
  opacity: 1;
  i.fa.fa-plus-circle{
    opacity: 0.7;
  }
}

img.track-img {
  height: 100%;
  width: 100%;
}
.track-img-container{
  width: 25%;
  float: left;
}
.track-info {
  width: 75%;
  line-height: 1.25rem;
  padding-left: 1rem;
  float: right;
  padding-top: 8%;
}
.trackArtist {
  font-style: italic;
  line-height: 2rem;
}

.header {
  display: table;
  margin: auto;
  font-size: 2rem;
}

.header:hover{
  text-decoration: underline;
}

.album {
  display: inline-block;
  width: 20%;
  vertical-align: top;
}

.inner-album {
  display: inline-block;
  width: 20%;
  vertical-align: top;
}

.album-img-container{
  width: 90%;
  margin: auto;
}

.album-img {
  width: 75%;
  height: 100%;
  width: 100%;
  opacity: 0.6;
}

.album-img:hover{
  opacity: 1.0;
}

.album-title {
  text-align: center;
  width: 88%;
  margin: auto;
  font-size: 1.5rem;
}

.album-title:hover {
  text-decoration: underline;
}

.artist-img-container{
  width: 90%;
  margin: auto;
}

.artist{
  display: inline-block;
  width: 20%;
  margin: auto;
  vertical-align: top;
}

.inner-artist{
  display: inline-block;
  width: 20%;
  margin: auto;
  vertical-align: top;
}

.artist-img {
  width: 75%;
  height: 100%;
  width: 100%;
  opacity: 0.6;
}

.artist-img:hover{
  opacity: 1.0;
}

.artist-title{
  text-align:center;
  width: 88%;
  margin: auto;
  font-size: 1.5rem;
}

.artist-title:hover {
  text-decoration: underline;
}

.playing {
  background-color: #0ab091;
}

.intro-bio {
  font-size: 50px;
  color: white;
}
.back {
  width: 100%;
  opacity: 0.8;
}

.back:hover {
  opacity: 1;
}

.search-container {
  width: 90%;
  position: absolute;
  border-right: 1px black solid;
  border-left:  1px black solid;
  display: inherit;
  z-index: 3;
  background-color: rgba(0,0,0,0.8);
  color: white;
}

.search-submit input[type="submit"] {
  width: 100%;
  height: 2.5rem;
  background-color: #039be5;
  color: white;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-size: 1.1rem;
  opacity: 0.85;
  border-bottom: 1px solid black;
}

input#search {
    padding-top: 9px;
    padding-left: 14px;
    width: 98.1%;
}

.search-submit input[type="submit"]:hover {
  opacity: 1;
}

.search-container-show {
  // width: 84.95%;
  // position: absolute;
  // border-right: 1px black solid;
  // border-left:  1px black solid;
  // display: inherit;
  // z-index: 3;
  // background-color: rgba(0,0,0,0.8);
  // color: white;
}

.add-search-container {
  opacity: 0.85;
}

.add-search-container a {
  width: 100%;
}

.add-search-container:hover {
  width: 100%;
  opacity: 1;
}

.playlist-details {
  background-color: rgba(0,0,0,0.8);
  height: 3.2rem;
  line-height: 2.5em;
  width: 99.9%;
}
.playlist-name {
  color: white;
  font-weight: bold;
  display: inline-block;
  padding-left: 1rem;
  margin: 0.25rem;
}

.playlist-description {
  color: white;
  // width: 33%;
  font-style: italic;
  display: inline-block;
}

.playlist-code {
  display: inline-block;
  color: white;
}

#make-public {
  float: right;
  opacity: 0.85;
  text-transform: capitalize;
  margin: 0.25rem;
  margin-right: 0;
}

#make-public:hover {
  opacity: 1;
}

.main-body {
  background: url('pool.jpeg') center center fixed no-repeat;
  background-size: cover;
}

#playlist-update-title, #join-title {
  font-size: 60px;
}

nav {
  margin-bottom: 10px;
  background: #23232D;
  padding-left: 1rem;
}

iframe {
    width: 100%;
}

.btn {
  padding: 0 15px;
}

.btn:hover:before {
  opacity:1
}

.name-desc-container {
  background-color: rgba(255,255,255,.2);
}

.name-desc {
  display: inline-block;
  margin-right: 19px;
  color: white;
}

.btn:before {
    content: '';
    opacity: 0;
    background-color: rgba(255,255,255,.2);
    position: absolute;
    width: 100%;
    // height: 100%;
    left: 0;
    top: 0;
    transition: opacity .2s;
    z-index: -1;
}

.song-in-queue {
  // background: white;
  border-bottom: 1px solid rgba(232, 232, 236, 0.4);
  // border-left: 1px solid #cccccc;
  // border-right: 1px solid #cccccc;
  padding: 10px 1rem;
  line-height: 1.5;
  // background: linear-gradient(to left, #bfbfc0, rgb(248, 248, 249));
  color: $player-white;
  overflow: hidden;
  position: relative;
}

.upvote, .downvote {
  opacity: 0.65;
}

.upvote:hover, .downvote:hover {
  opacity: 1;
}

button.upvote.btn.darken-2 {
  opacity: 1;
  color: white;
}

button.downvote.btn.darken-2 {
  opacity: 1;
  color: white;
}

.played {
  background-color: rgba(232, 232, 236, 0.4);
}

.song-list {
  z-index: 1;
  background-color: rgba(30, 28, 39, 0.82);
};

.added-by {
  font-size: smaller;
}

.user_info {
  float: right;
  padding-right: 20px;
  margin: 0px;
}

.buttons {
    position: absolute;
    right: 7%;
    bottom: 11%;
}

.heart {
    position: absolute;
    right: 20px;
    bottom: 11px;
}

.nav_bar {
  background: $nav-grey;
  // background: linear-gradient(to left, #dcb7a0, #aeaeae,#87b5b0)
}

.btn-flat {
  padding: 0 15px;
  color: white;
}

@media (max-width: 480px) {
  .playlist-code {
    display: block;
    text-align: center;
  }

  .hosteduser-playlist{
    text-align: left;
    padding-top: 45px;
    position: absolute;
    top: 19%;
    left: 2%;
    color: white;
  }

  .guestuser-playlist{
    text-align: left;
    padding-top: 45px;
    position: absolute;
    top: 33%;
    left: 2%;
    color: white;
  }

  .hosted-playlist {
    border: rgba(74, 199, 164, 0.9) 1px solid;
    opacity: 0.7;
    height: 10rem;
    position: relative;
    margin-bottom: 0px;
  }

  .guest-playlist {
    border: rgba(232, 2, 103,0.9) 1px solid;
    opacity: 0.7;
    height: 10rem;
    position: relative;
    margin-bottom: 0px;
  }

  i.material-icons.front-pg-symbol {
    position: relative;
}

  .playlist-details {
    text-align: center;
    height: 100%;
    line-height: 20px;
  }

  span.guestlist-playlist {
    width: 50%;
  }

  .guestlist-playlist {
    float: none;
  }

  #make-public {
    float: none;
  }

  .playlist-name {
    padding-left: 0;
  }

  //  Deezer Player
  div#d_player {
      height: 62px;
  }

  //vote
  .buttons {
    display: block;
    position: inherit;
    right: 0;
    bottom: -4px;
  }

  button.upvote, button.downvote {
    position: relative;
  }

  .delete-song i {
      position: absolute;
      top: -2px;
      right: 7px;
  }
  //
  // a.delete-song {
  //   position: absolute;
  //   left: 57%;
  //   top: 56%;
  //   width: 20%;
  //   height: 30px;
  //   padding: 0px 0px 5px 6px;
  //   color: white;
  //   font-size: 10px;
  // }

  a.btn-flat.delete-song {
      position: absolute;
      color: white;
      opacity: 0.7;
      // left: 45%;
      height: 30px;
      top: 60px;
      right: 56px;
      padding: 16px;
  }

  .song-in-queue.played a.delete-song, .song-in-queue.playing a.delete-song  {
    top: 48%;
    right: 55px;
  }

  .song-in-queue.que {
    height: 7rem;
  }

  .song-in-queue.played, .song-in-queue.playing {
    height: 5rem;
  }

  // 4 Star Playlists
  .song-in-queue.public-que {
      height: 4rem;
  }

  .public-que .heart {
    bottom: 4px;
  }

  // span.buttons {
  //   display: inline-block;
  //   position: relative;
  //   left: 39%;
  //   bottom: 9%;
  // }

}

@media (min-width: 481px) {
  .edit-delete {
    text-align: center;
    opacity: 1;
  }
  .hosted-playlist {
    border: rgba(74, 199, 164, 0.9) 1px solid;
    opacity: 0.7;
    height: 12rem;
    position: relative;
    margin-bottom: 0px;
  }

  .guest-playlist {
    border: rgba(232, 2, 103,0.9) 1px solid;
    opacity: 0.7;
    height: 12rem;
    position: relative;
    margin-bottom: 0px;
  }

  .hosteduser-playlist{
    text-align: left;
    padding-top: 45px;
    position: absolute;
    top: 32%;
    left: 2%;
    color: white;
  }

  .guestuser-playlist{
    text-align: left;
    padding-top: 50px;
    position: absolute;
    top: 44%;
    left: 2%;
    color: white;
  }
}

@media (min-width: 0px) and (max-width: 599px) {
 .q-instructions, .q-description {
   padding: 2rem 3rem;
 }

 #playlist-title {
   font-size: 46px;
 }

 .viewable-screen-front {
   height: 80vh;
 }

 .artist, .album, .inner-artist, .inner-album {
   width: 50%;
 }

 .host-button, .join-button{
   width: 65%;
 }

 .login-form, .join-form, .party-form, .sign-up-form{
   margin: 0px;
   width: 100%;
 }

 .playlist-block{
   text-align: center;
   width: 45%;
   display: inline-block;
 }

 .artist-title, .album-title{
   text-align:center;
   width: 88%;
   margin: auto;
   font-size: 0.8rem;
 }

 footer {
  width: 100%;
  text-align: center;
  background-color: rgba(55, 55, 55, 0.75);
  padding: 3px 0;
  // bottom: -402px;
  // position: absolute;
  margin-top: 10px;
  color: white;
  position: absolute;
  bottom: 0;
  font-size: 9px;
  }
  .song-listing{
    line-height: 2.5rem;
    font-size: 20px;
    margin-left: 1%;
    width: 100%;
    display: inline-block;
    opacity: 0.7;
    position: relative;
  }
}

@media (min-width: 600px) and (max-width: 999px) {
  a.btn-flat.delete-song {
    position: relative;
    color: white;
    opacity: 0.7;
    left: 5%;
  }

  a.btn-flat.delete-song:hover {
    color: white;
    opacity: 1;
  }

 .search-container {
   width: 84.95%;
 }

 #playlist-title {
   font-size: 60px;
 }

 .viewable-screen-front {
   height: 64vh;
 }

 .q-steps {
   display: block;
 }

 .q-instructions, .q-description {
   padding: 4rem 12rem;
 }

 .login-form, .join-form, .party-form, .sign-up-form{
   width: 50%;
   margin-bottom: 10px;
   margin: auto;
   margin-top: 7rem;
 }

 .buttons-user {
   margin-top: 8px;
   .logins, .parties {
     width: 41%;
   }
 }

 .playlist-block{
   text-align: center;
   width: 19%;
   display: inline-block;
 }

 footer {
  width: 100%;
  text-align: center;
  background-color: rgba(55, 55, 55, 0.75);
  padding: 3px 0;
  // bottom: -402px;
  // position: absolute;
  margin-top: 10px;
  color: white;
  position: absolute;
  bottom: 0;
  font-size: 12px;
  }

  .song-listing{
    line-height: 2.5rem;
    font-size: 20px;
    margin-left: 1%;
    width: 49%;
    display: inline-block;
    opacity: 0.7;
    position: relative;
  }
}

@media (min-width: 0px) and (max-width: 1100px) {
 .public_playlists {
   padding: 2rem 3rem;
 }
 .public_playlist_block {
   width: 49%;
 }
 .song-listing{
   line-height: 2.5rem;
   font-size: 20px;
   margin-left: 1%;
   width: 100%;
   display: inline-block;
   opacity: 0.7;
   position: relative;
 }
}


@media (min-width: 1101px) {
  .public_playlist_block {
    width: 24%;
  }
  .public_playlists {
    padding: 2rem 10rem;
  }
  .song-listing{
    line-height: 2.5rem;
    font-size: 20px;
    margin-left: 1%;
    width: 49%;
    display: inline-block;
    opacity: 0.7;
    position: relative;
  }

}

@media (min-width: 1000px) {
  a.btn-flat.delete-song {
    position: relative;
    color: white;
    opacity: 0.7;
    left: 5%;
  }

  a.btn-flat.delete-song:hover {
    color: white;
    opacity: 1;
  }

 .search-container {
   width: 70%;
 }

 #playlist-title {
   font-size: 60px;
 }

 .viewable-screen-front {
   height: 64vh;
 }

 .login-form, .join-form, .party-form, .sign-up-form{
   width: 50%;
   margin-bottom: 10px;
   margin: auto;
   margin-top: 7rem;
 }

 .song-listing{
   line-height: 2.5rem;
   font-size: 20px;
   margin-left: 1%;
   width: 49%;
   display: inline-block;
   opacity: 0.7;
   position: relative;
 }

 footer {
  width: 100%;
  text-align: center;
  background-color: rgba(55, 55, 55, 0.75);
  padding: 3px 0;
  // bottom: -402px;
  // position: absolute;
  margin-top: 10px;
  color: white;
  position: absolute;
  bottom: 0;
  font-size: 12px;
}

 .buttons-user {
   margin-top: 8px;
   .logins, .parties {
     width: 41%;
   }
 }
 .q-steps {
   display: inline-block;
   width: 24%;

 }

 .playlist-block{
   text-align: center;
   width: 19%;
   display: inline-block;
 }

 .q-instructions, .q-description {
   padding: 4rem 12rem;
 }
}



html{
  position: relative;
}

.hidden {
  display: none;
}

.song-listing {
  border-bottom: rgba(232, 2, 103,0.7);
}

.blocked-message {
    border-radius: 50px;
    padding: 20px;
    margin-top: 15%;
    text-align: center;
    color: white;
}

.emoji {
    height: 95px;
    width: 90px;
    display: inline-block;
    margin-top: 4px;
    margin-bottom: 10px;
}

.guestlist-playlist {
  float: right;
  opacity: 0.85;
  margin: 0.25rem;
}

.guestlist-playlist:hover {
  opacity: 1;
}

.guestlist-playlist a {
  text-decoration: none;
  color: white;
  text-transform: capitalize;
}

li.guest{
  height: 3rem;
}
