// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.viewable-screen {
  height: 100vh;
}

.viewable-screen-front {
  height: 64vh;
}

.hideme {
  opacity: 0;
}

#login-body, #join-body {
  position: relative;
  height: 100vh;
}

#login-footer, #join-footer {
  width: 100%;
  text-align: center;
  background-color: rgba(55, 55, 55, 0.75);
  padding: 2px 0;
  color: white;
  position: absolute;
  /* height: 100vh; */
  bottom: 0;
}

.front-pg-symbol {
  font-size: 35px;
}

.front-desc {
  font-size: 19px;
}

input {
  // background-color: white;
  color: white;
  padding: 0 90px;
  border: none;
}

.public_playlist_block {
  // width: 24%;
  display: inline-block;
  vertical-align: top;
}

.pub_playlist_name {
  font-size: 1.2rem;
  color: black;
}

.public_image {
  width: 100%;
  height: 100%;
  opacity: 0.9;
}

.public_image:hover {
  opacity: 1;
}

a {
  color: cadetblue;
}

a.btn.logins:hover {
  background-color: white;
  color: black;
}

a.btn.parties.host-button:hover {
  background-color: rgba(74, 199, 164, 0.9);
  color: white;
}

a.btn.parties.join-button:hover {
  background-color: rgba(232, 2, 103, 0.9);
  color: white;
}

img.queue {
    width: 123px;
    height: 205px;
    margin-top: 6rem;
}

.front {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  margin-bottom: 3rem;
}

label {
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
}

input[type="submit"] {
  width: 100%;
  color: white;
  height: 3rem;
  font-size: 1.25rem;
  background-color: rgba(0, 152, 186,0.50);
  border: black 1px solid;
}

input[type="submit"]:hover {
  width: 100%;
  color: white;
  height: 3rem;
  font-size: 1.25rem;
  background-color: rgba(0, 152, 186, 0.75);
  border: black 1px solid;
}

.field {
    color: white;
}

.dropdown {
  color: black;
}

#playlist-button, #join-button {
  color: cadetblue;
}

#sign-up-button, #login-button, #playlist-button, #playlist-edit-button, #joinpage-button {
    display: block;
    margin-bottom: 19px;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 500px;
    color: white;
    font-weight: 500;
    letter-spacing: 1.3px;
    border: solid 1px white;
}

button.btn.login-session#sign-up-button:hover {
  background-color: white;
  color: black;
}

button.btn.login-session#playlist-button:hover {
  background-color: white;
  color: black;
}

button.btn.login-session#login-button:hover {
  background-color: white;
  color: black;
}

button.btn.login-session#playlist-edit-button:hover {
  background-color: white;
  color: black;
}

button.btn.login-session#joinpage-button:hover {
  background-color: white;
  color: black;
}

.login-session {
  color: cadetblue;
  width: 100%
}

.q-description {
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  top: 0px;
  opacity: 0.9;
  // padding: 4rem 12rem;
  text-align: center;
}

.q-instructions {
    position: relative;
    top: 0px;
    background-color: rgba(18, 168, 154, 0.9);
    // padding: 4rem 12rem;
    color: white;
    text-align: center;
}

.q-inst-cont {
  vertical-align: top;
  text-align: center;
}

.q-steps {
  // display: inline-block;
  // width: 24%;
  vertical-align: top;
  padding: 0% 0.5%;
}

.public_playlists {
  position: relative;
  top: 0px;
  background-color: rgba(255, 255, 255, 0.8);
  // padding: 2rem 10rem;
  color: black;
  width: 100%;
  text-align: center;
}

.intro {
  margin-top: 15px;
}

.login {
  color: white;
}

.intro-bio {
  margin: 0;
  text-align: center;
}

.login-form, .sign-up-form, .party-form, .join-form {
background-color: rgba(35, 35, 44, 0.39);
margin-bottom: 10px;
padding: 25px 40px;
width: 50%;
border-radius: 12px;
margin: auto;
margin-top: 7rem;
}

.title {
  color: white;
  margin: 0.5rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 65px;
  text-align: center;
}

h5 {
  font-family: 'Roboto Condensed', sans-serif;
}

.buttons-home, .buttons-user {
  margin-top: 8px;
  .logins, .parties {
    display: block;
    margin-bottom: 19px;
    width: 41%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 500px;
    color: white;
    font-weight: 500;
    letter-spacing: 1.3px;
    border: solid 1px white;
  }
  .logins {
  background-color: rgba(0, 0, 0, 0);
  }
  .parties {
    background-color: rgba(0, 0, 0, 0.29);
  }
}

.input-field label {
  color: white !important;
}

.input-field input {
  border-bottom: 1px solid white !important;
}

.field label {
  color: white !important;
}

.field input {
  color: white !important;
}
