<div class="join-form">
  <h1 class="title" id="join-title">JOIN A PLAYLIST</h1>

<%= form_tag(add_guest_path) %>
<div class="field input-field">
<%= label_tag("access_code") %>
<%= text_field_tag "access_code" %>
</div>
<button class="btn login-session" id="joinpage-button" type="submit" name="action">Join
</button>

</div>
