
<h1 class="title" id="join-title">JOIN A <br /> PLAYLIST</h1>


<div class="join-form">

<%= form_tag(add_guest_path) %>
<div class="field input-field">
<%= label_tag("access_code") %>
<%= text_field_tag "access_code" %>
</div>
<button class="btn login-session white" id="joinpage-button" type="submit" name="action">Join
</button>

</div>
